# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
venv/
ENV/
env/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pyre type checker
.pyre/

# Mypy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
.cache/
htmlcov/
.tox/

# Pyre type checker
.pyre/

# Pylint
.pylint.d/

# Pyre
.pyre/

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# macOS files
.DS_Store

# Editor backups
*~
*.swp
*.swo

tmp/

fluent_speech_commands_dataset/

.env